@inherits LayoutComponentBase

<PageTitle>RedPlanetAPI</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <main>
        <div>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
