@inherits LayoutComponentBase

<PageTitle>RedPlanetAPI</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
