<nav>
    <NavLink href="" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Home
    </NavLink>
    <NavLink href="counter">
        <span aria-hidden="true"></span> Counter
    </NavLink>
    <NavLink href="fetchdata">
        <span aria-hidden="true"></span> Fetch data
    </NavLink>
</nav>

@code {

}
