<select @onchange=@OnSelectChange>
    <option value="all">All</option>
    <option value="FHAZ">Front Hazard Avoidance Camera</option>
    <option value="RHAZ">Rear Hazard Avoidance Camera</option>
    <option value="MAST">Mast Camera</option>
    <option value="CHEMCAM">Chemistry and Camera Complex</option>
    <option value="MAHLI">Mars Hand Lens Imager</option>
    <option value="MARDI">Mars Descent Imager</option>
    <option value="NAVCAM">Naviation Camera</option>
    <option value="PANCAM">Panoramic Camera</option>
    <option value="MINITES">Miniature Thermal Emission Spectrometer</option>
</select>

@code {

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private Task OnSelectChange(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        return ValueChanged.InvokeAsync(Value);
    }
}