section {
    bottom: 0px;
    background-color: #9D9D9D;
    opacity: .7;
    border-radius: 20px 20px 0px 0px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#manifest {
    border-radius: 20px 20px 0px 0px;
}

section > div {
    display: flex;
}

    section > div div {
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
    }

button {
    width: 275px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

    button:hover {
        background-color: #bf5b1f;
        cursor: pointer;
    }