section {
    margin: 90px 0px;
    text-align: center;
    color: white;
}

img {
    max-width: 1080px;
    border: 2px solid #414141;
    margin: 2.5px 0px;
}


@media screen and (max-width: 1079px) {
    img {
        max-width: 100%;
    }
}
