@inject IMarsRoverPhoto _marsRoverPhoto;

<div>
    <select @onchange=@OnSelectionChanged>
        <option value="all">All</option>
        <option value="FHAZ">Front Hazard Avoidance Camera</option>
        <option value="RHAZ">Rear Hazard Avoidance Camera</option>
        <option value="MAST">Mast Camera</option>
        <option value="CHEMCAM">Chemistry and Camera Complex</option>
        <option value="MAHLI">Mars Hand Lens Imager</option>
        <option value="MARDI">Mars Descent Imager</option>
        <option value="NAVCAM">Naviation Camera</option>
        <option value="PANCAM">Panoramic Camera</option>
        <option value="MINITES">Miniature Thermal Emission Spectrometer</option>
    </select>
</div>

@code {
    //[Parameter]
    string Value { get; set; }

    [Parameter]
    public MarsRoverPhoto.Response Response { get; set; }

    [Parameter]
    public EventCallback<MarsRoverPhoto.Response> SelectionChanged { get; set; }

    private Task OnSelectionChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        //Response =  await _marsRoverPhoto.GetRoverPhotos($"&camera={Value}");
        //return Value;
        return SelectionChanged.InvokeAsync(Response);
    }

    //protected override void OnInitialized()
    //{
    //    Value = "Hello World!";
    //}
}
