<section>
@if (response != null)
{
    @if(response.Photos.Length == 0)
    {
        <h1>No images</h1>
    }
    @foreach (var item in response.Photos)
    {
        <img src=@item.Img_src />
    }
}
</section>

@code {
    [Parameter]
    public MarsRoverPhoto.Response? response { get; set; }
}